DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local

DATABASE_URL=sqlite:///db.sqlite3

WHISPERX_BASE_URL=http://whisperx:8001
WHISPERX_MODEL_NAME=base
WHISPERX_DEVICE=cpu
WHISPERX_COMPUTE_TYPE=int8
WHISPERX_BATCH_SIZE=4
WHISPERX_ALIGN_OUTPUT=true
WHISPERX_ENABLE_DIARIZATION=false

GROQ_API_KEY=
GROQ_MODEL=<MODEL-NAME>

DEFAULT_NOTE_TYPE=soap
